<div class='container mb-4 ps-3'>
    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
                <a class='breadcrumb-item' routerLink='/' ariaCurrentWhenActive='page'>Početna</a>
            </li>
            <li class='breadcrumb-item active' aria-current='page'>Radno mjesto</li>
        </ol>
    </nav>
    <h4 class='text-color'>Lista prijava za radno mjesto</h4>
</div>

<div class='container rounded-top table-responsive p-4 bg-white'>
    <div *ngIf='workingPlaces.length === 0' class='container'>
        <p class='lead'>Nažalost nema radnih mjesta</p>
        <hr>
    </div>
    <div *ngIf='workingPlaces.length !== 0'>
        <table class='table align-middle'>
            <thead>
                <tr>
                    <th scope='col' sortable='name' (sort)='onSort($event)'>Radno mjesto</th>
                    <th scope='col'></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let workingPlace of workingPlaces'>
                    <td> {{ workingPlace.name }} </td>
                    <td>
                        <button type='button' (click)='handleDelete(workingPlace)' class='btn btn-secondary'>
                            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'>
                                <path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'></path>
                                <path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'></path>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class='d-flex justify-content-between pt-2 ps-1 pe-1'>
            <ngb-pagination [collectionSize]='collectionSize' [(page)]='page' [pageSize]='pageSize' (pageChange)='refreshWorkingPlaces()'>
            </ngb-pagination>

            <select class='form-select' style='width: auto' [(ngModel)]='pageSize' (ngModelChange)='refreshWorkingPlaces()'>
                <option [ngValue]='5'>5 items per page</option>
                <option [ngValue]='10'>10 items per page</option>
                <option [ngValue]='50'>50 items per page</option>
            </select>
        </div>
    </div>

    <div class='col-md-12'>
        <app-alert></app-alert>
    </div>
</div>