<div *ngIf='interviews.length !== 0' class='table-responsive p-4'>
    <table class='table align-middle'>
        <thead>
            <tr>
                <th scope='col' sortable='dateOfInterview' (sort)='onSort($event)'>Datum razgovora</th>
                <th scope='col' sortable='comment' (sort)='onSort($event)'>Komentar</th>
                <th scope='col' sortable='interest' (sort)='onSort($event)'>Interesi</th>
                <th scope='col' sortable='evaluation' (sort)='onSort($event)'>Ocjena kandidata</th>
                <th scope='col' sortable='selectEmployment' (sort)='onSort($event)'>Zaposlenje</th>
                <th scope='col' sortable='dateOfEmployment' (sort)='onSort($event)'>Datum zaposlenja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let interview of interviews'>        
                <td (click)='handleClick(interview)'>{{ interview.dateOfInterview }}</td>
                <td (click)='handleClick(interview)'>{{ interview.comment }}</td>
                <td (click)='handleClick(interview)'>{{ interview.interest }}</td>
                <td (click)='handleClick(interview)'>{{ interview.evaluation }}</td>
                <td (click)='handleClick(interview)'>{{ interview.selectEmployment }}</td>
                <td (click)='handleClick(interview)' *ngIf="interview.selectEmployment === 'Da'">{{ interview.dateOfEmployment }}</td>
                <td (click)='handleClick(interview)' *ngIf="interview.selectEmployment === 'Ne'">Kandidat nije zaposlen</td>
                <td>
                    <button type='button' [disabled]='!canEdit()' (click)='handleDelete(interview)' class='btn btn-secondary'>
                        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'>
                            <path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'></path>
                            <path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'></path>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class='d-flex justify-content-between pt-3'>
        <ngb-pagination [collectionSize]='collectionSize' [(page)]='page' [pageSize]='pageSize' (pageChange)='refreshInterviews()'>
        </ngb-pagination>
    
        <select class='form-select' style='width: auto' [(ngModel)]='pageSize' (ngModelChange)='refreshInterviews()'>
            <option [ngValue]='5'>5 items per page</option>
            <option [ngValue]='10'>10 items per page</option>
            <option [ngValue]='50'>50 items per page</option>
        </select>
    </div>
</div>
    
<div *ngIf='interviews.length === 0' class='container p-4'>
    <p class='lead'>Nažalost nema razgovora</p>
    <hr>
</div>

<div class='container ps-4 pe-4'>
    <app-alert></app-alert>
</div>
