<div class='container-fluid padding background rounded-bottom-right'>
    <div class='container mb-4 ps-3'>
        <nav aria-label='breadcrumb'>
            <ol class='breadcrumb'>
                <li class='breadcrumb-item'>
                    <a class='breadcrumb-item' routerLink='/' ariaCurrentWhenActive='page'>Početna</a>
                </li>
                <li class='breadcrumb-item active' aria-current='page'>Pregled svih kandidata</li>
            </ol>
          </nav>
        <h4 class='text-color'>Lista kandidata</h4>
    </div>

    <div *ngIf='candidates.length === 0' class='container rounded-3 p-4 bg-white'>
        <p class='lead'>Nažalost nema kandidata</p>
        <hr>
    </div>

    <div *ngIf='candidates.length !== 0' class='container rounded-3 table-responsive p-4 bg-white'>
        <table class='table table-sm align-middle'>
            <thead>
                <tr>
                    <th scope='col' sortable='firstName' (sort)='onSort($event)'>Ime</th>
                    <th scope='col' sortable='lastName' (sort)='onSort($event)'>Prezime</th>
                    <th scope='col' sortable='dateOfApplication' (sort)='onSort($event)'>Datum prijave</th>
                    <th scope='col' sortable='workingPlace' (sort)='onSort($event)'>Prijava za radno mjesto</th>
                    <th scope='col' sortable='profession' (sort)='onSort($event)'>Zanimanje</th>
                    <th scope='col' sortable='education' (sort)='onSort($event)'>Obrazovanje</th>
                    <th scope='col' sortable='employment' (sort)='onSort($event)'>Zaposlen</th>
                    <th scope='col' sortable='dateOfInterview' (sort)='onSort($event)'>Datum razgovora</th>
                    <th scope='col' sortable='evaluation' (sort)='onSort($event)'>Ocjena kandidata</th>
                    <th scope='col' sortable='selectEmployment' (sort)='onSort($event)'>Zaposlenje</th>
                    <th scope='col' sortable='dateOfEmployment' (sort)='onSort($event)'>Datum zaposljenja</th>
                    <th scope='col'></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let candidate of candidates'>
                    <td (click)='handleClick(candidate)'>{{ candidate.firstName}}</td>
                    <td (click)='handleClick(candidate)'>{{ candidate.lastName}}</td>
                    <td (click)='handleClick(candidate)'>{{ candidate.dateOfApplication}}</td>
                    <!--<td (click)='handleClick(candidate)'>{{ candidate.workingPlace}}</td>
                    
                    -->
                    <td (click)='handleClick(candidate)' *ngIf='iterateWorkingPlaces(candidate).count == 0'>Nema prijava</td>
                    <td (click)='handleClick(candidate)' *ngIf='iterateWorkingPlaces(candidate).count == 1'>{{ candidate.candidateWorkingPlaces[iterateWorkingPlaces(candidate).position].workingPlace.name }}</td>
                    <td (click)='handleClick(candidate)' *ngIf='iterateWorkingPlaces(candidate).count > 1'>Više prijava</td>
                    
                    <td (click)='handleClick(candidate)'>{{ candidate.profession}}</td>
                    <td (click)='handleClick(candidate)'>{{ candidate.education}}</td>
                    <td (click)='handleClick(candidate)'>{{ candidate.employment}}</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length >= 1'>{{ candidate.interviews[candidate.interviews.length - 1].dateOfInterview}}</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length >= 1'>{{ candidate.interviews[candidate.interviews.length - 1].evaluation}}</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length >= 1'>{{ candidate.interviews[candidate.interviews.length - 1].selectEmployment}}</td>
                    <td (click)='handleClick(candidate)' *ngIf="candidate.interviews.length >= 1 && candidate.interviews[candidate.interviews.length - 1].selectEmployment === 'Da'">{{ candidate.interviews[candidate.interviews.length - 1].dateOfEmployment}}</td>
                    <td (click)='handleClick(candidate)' *ngIf="candidate.interviews.length >= 1 && candidate.interviews[candidate.interviews.length - 1].selectEmployment === 'Ne'">Kandidat nije zaposlen</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length == 0'>Nema razgovora</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length == 0'>Nema razgovora</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length == 0'>Nema razgovora</td>
                    <td (click)='handleClick(candidate)' *ngIf='candidate.interviews.length == 0'>Nema razgovora</td>
                    <td>
                        <button type='button' [disabled]='!canEdit()' (click)='handleDelete(candidate)' class='btn btn-secondary'>
                            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'>
                                <path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'></path>
                                <path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'></path>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class='d-flex justify-content-between pt-2'>
            <ngb-pagination [collectionSize]='collectionSize' [(page)]='page' [pageSize]='pageSize' (pageChange)='refreshCandidates()'>
            </ngb-pagination>
            
            <select class='form-select' style='width: auto' [(ngModel)]='pageSize' (ngModelChange)='refreshCandidates()'>
                <option [ngValue]='5'>5 items per page</option>
                <option [ngValue]='10'>10 items per page</option>
                <option [ngValue]='50'>50 items per page</option>
            </select>
        </div>
    </div>

    <div class='col-md-12 mt-4 mb-4'>
        <app-alert></app-alert>
    </div>
</div>